#pageBody
{	 
	background: url("/resources/jpg/evening-deck.jpg") no-repeat;
	background-size: 105em; 	
}

/* ---- Traveller Input ---- */
#travellerSelection
{
	display: block;
	float: left;
	position: relative;
	z-index: 2;

	margin-left: 10px;
}
.travellerDropdown
{
	width: 200px !important;
	display: none;
	float: right;

	position: relative;
	z-index: 1;
	
	padding: 35px 15px 15px 15px !important;
    margin: -20px 28px !important;
}
.travellerDropdown span
{
	display: inline-block;
	margin-bottom: 10px;
	vertical-align: middle;
}
.adultSelection,
.childSelection
{
	display: block;
	height: 20px;
	margin-bottom: 10px; 
}
.travellerDescription
{
	float: left;
}
.travellerAmount
{
	float: right;
	display: flex;
	align-items: center; 
	justify-content: center;
}
.travellerAmount div
{
	float: right;
	height: 20px;
	line-height: 20px;
}
input#adultTravellers,
input#childTravellers,
input#infantTravellers
{
    width: 40px;    
    border: none;

    text-align: center;
    font-size: 1em;
    font-family: Arial;
    color: #717171;
}
/* ---- Traveller Input ---- */


		



