.add
{
    height: 20px;
    content: url('https://image.flaticon.com/icons/png/512/16/16057.png');
}

.reduce
{
    height: 20px;
    content: url('https://image.flaticon.com/icons/png/512/7/7524.png');
}

.button-1
{
	cursor: pointer;
	display: inline-block;
	width: 320px;
	
    background-color:#105a7e;
    color: white;
    
    padding: 20px 20px;
    margin-top: 20px;
    border: 2px solid #105a7e;
    
    font-size: 1em;
    font-weight: bold;
    
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing:1px;    
}

.button-1:hover
{
    background-color: white;
    color: black;
}